*.o
*.a
*.d
*.3
*.pod
*.pc
.DS_STORE
*.sw[a-z]
*.pyc

M0.txt
M1M2.txt
times.txt
output_slice.txt
output_large.txt
runme_slice.sh

dvfs_sim/cvx/*
dvfs_sim/lps/*
dvfs_sim/lls/*
dvfs_sim/lasso/*
dvfs_sim/regression_coeffs/*
dvfs_sim/pid/*
dvfs_sim/data_odroid/*
dvfs_sim/data/*
dvfs_sim/predict_times/*
power_monitor/power_monitor
power_monitor/power_monitor_both

benchmarks/mibench/office/stringsearch/search_large
benchmarks/mibench/security/rijndael_preread/output_large.enc
benchmarks/mibench/security/rijndael_preread/rijndael
benchmarks/mibench/security/sha_preread/sha

benchmarks/uzbl/src/function_addresses.h

benchmarks/xpilot/xpilot-4.5.5/Makefile
benchmarks/xpilot/xpilot-4.5.5/contrib/Makefile
benchmarks/xpilot/xpilot-4.5.5/contrib/msub/Makefile
benchmarks/xpilot/xpilot-4.5.5/contrib/msub/msub
benchmarks/xpilot/xpilot-4.5.5/doc/Makefile
benchmarks/xpilot/xpilot-4.5.5/doc/man/Makefile
benchmarks/xpilot/xpilot-4.5.5/doc/man/xp-mapedit._man
benchmarks/xpilot/xpilot-4.5.5/doc/man/xp-replay._man
benchmarks/xpilot/xpilot-4.5.5/doc/man/xpilot._man
benchmarks/xpilot/xpilot-4.5.5/doc/man/xpilots._man
benchmarks/xpilot/xpilot-4.5.5/lib/Makefile
benchmarks/xpilot/xpilot-4.5.5/lib/maps/Makefile
benchmarks/xpilot/xpilot-4.5.5/lib/textures/Makefile
benchmarks/xpilot/xpilot-4.5.5/src/Makefile
benchmarks/xpilot/xpilot-4.5.5/src/client/Makefile
benchmarks/xpilot/xpilot-4.5.5/src/client/xpilot
benchmarks/xpilot/xpilot-4.5.5/src/common/Makefile
benchmarks/xpilot/xpilot-4.5.5/src/common/NT/Makefile
benchmarks/xpilot/xpilot-4.5.5/src/common/NT/bindist/Makefile
benchmarks/xpilot/xpilot-4.5.5/src/common/NT/bindist/README.txt
benchmarks/xpilot/xpilot-4.5.5/src/common/NT/bindist/READMEbin.txt
benchmarks/xpilot/xpilot-4.5.5/src/common/NT/bindist/ServerMOTD.txt
benchmarks/xpilot/xpilot-4.5.5/src/common/version.h
benchmarks/xpilot/xpilot-4.5.5/src/mapedit/Makefile
benchmarks/xpilot/xpilot-4.5.5/src/mapedit/xp-mapedit
benchmarks/xpilot/xpilot-4.5.5/src/replay/Makefile
benchmarks/xpilot/xpilot-4.5.5/src/replay/xp-replay
benchmarks/xpilot/xpilot-4.5.5/src/server/Makefile
benchmarks/xpilot/xpilot-4.5.5/src/server/xpilots

benchmarks/pocketsphinx/install/
benchmarks/pocketsphinx/pocketsphinx-5prealpha/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/autom4te.cache/
benchmarks/pocketsphinx/pocketsphinx-5prealpha/compile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/config.log
benchmarks/pocketsphinx/pocketsphinx-5prealpha/config.status
benchmarks/pocketsphinx/pocketsphinx-5prealpha/doc/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/doc/doxyfile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/include/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/libtool
benchmarks/pocketsphinx/pocketsphinx-5prealpha/model/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/src/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/src/gst-plugin/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/src/libpocketsphinx/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/src/libpocketsphinx/deadline.h
benchmarks/pocketsphinx/pocketsphinx-5prealpha/src/libpocketsphinx/my_common.h
benchmarks/pocketsphinx/pocketsphinx-5prealpha/src/libpocketsphinx/timing.h
benchmarks/pocketsphinx/pocketsphinx-5prealpha/src/programs/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/src/programs/pocketsphinx_batch
benchmarks/pocketsphinx/pocketsphinx-5prealpha/src/programs/pocketsphinx_continuous
benchmarks/pocketsphinx/pocketsphinx-5prealpha/src/programs/pocketsphinx_mdef_convert
benchmarks/pocketsphinx/pocketsphinx-5prealpha/swig/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/swig/python/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/swig/python/pocketsphinx.py
benchmarks/pocketsphinx/pocketsphinx-5prealpha/swig/python/pocketsphinx_wrap.c
benchmarks/pocketsphinx/pocketsphinx-5prealpha/swig/python/test/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/test/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/test/regression/Makefile
benchmarks/pocketsphinx/pocketsphinx-5prealpha/test/testfuncs.sh
benchmarks/pocketsphinx/pocketsphinx-5prealpha/test/unit/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/autom4te.cache/
benchmarks/pocketsphinx/sphinxbase-5prealpha/compile
benchmarks/pocketsphinx/sphinxbase-5prealpha/config.log
benchmarks/pocketsphinx/sphinxbase-5prealpha/config.status
benchmarks/pocketsphinx/sphinxbase-5prealpha/doc/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/doc/doxyfile
benchmarks/pocketsphinx/sphinxbase-5prealpha/include/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/include/config.h
benchmarks/pocketsphinx/sphinxbase-5prealpha/include/sphinx_config.h
benchmarks/pocketsphinx/sphinxbase-5prealpha/include/sphinxbase/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/include/stamp-h1
benchmarks/pocketsphinx/sphinxbase-5prealpha/include/stamp-h2
benchmarks/pocketsphinx/sphinxbase-5prealpha/libtool
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/libsphinxad/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/libsphinxbase/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/libsphinxbase/fe/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/libsphinxbase/feat/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/libsphinxbase/lm/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/libsphinxbase/util/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/sphinx_adtools/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/sphinx_adtools/sphinx_cont_seg
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/sphinx_adtools/sphinx_pitch
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/sphinx_cepview/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/sphinx_cepview/sphinx_cepview
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/sphinx_fe/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/sphinx_fe/sphinx_fe
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/sphinx_jsgf2fsg/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/sphinx_jsgf2fsg/sphinx_jsgf2fsg
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/sphinx_lmtools/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/sphinx_lmtools/sphinx_lm_convert
benchmarks/pocketsphinx/sphinxbase-5prealpha/src/sphinx_lmtools/sphinx_lm_eval
benchmarks/pocketsphinx/sphinxbase-5prealpha/swig/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/swig/python/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/swig/python/sphinxbase.py
benchmarks/pocketsphinx/sphinxbase-5prealpha/swig/python/sphinxbase_wrap.c
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/regression/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/regression/testfuncs.sh
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_alloc/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_bitvec/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_case/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_cmdln/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_fe/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_feat/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_fsg/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_hash/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_lineiter/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_logmath/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_matrix/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_ngram/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_string/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_thread/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/test_util/Makefile
benchmarks/pocketsphinx/sphinxbase-5prealpha/test/unit/testfuncs.sh
benchmarks/pocketsphinx/test/out.txt
