*.o
*.a
*.d
*.3
*.pod
*.pc
.DS_STORE
*.sw[a-z]
*.pyc
M0.txt
M1M2.txt
output_slice.txt
output_large.txt
runme_slice.sh
dvfs_sim/cvx/*
dvfs_sim/lps/*
dvfs_sim/lls/*
dvfs_sim/lasso/*
dvfs_sim/regression_coeffs/*
dvfs_sim/pid/*
dvfs_sim/data_odroid/*
dvfs_sim/data/*
dvfs_sim/predict_times/*
power_monitor/power_monitor
